* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
html, body, #root {
  height: 100%;
}


  nav{
    padding: 1.5em 4em;
    margin-bottom: 50px;
    border-bottom: 1px solid lightgrey;
    box-shadow: 2px 2px 2px lightgrey;
    }
    .logo{
      width: 140px;
    }


section{
  width: 850px;
  margin: 0 auto;
}
  .tituloPrincipal{
    text-align: center;
    margin: 50px 0 30px;
    font-size: 30px;  
  }
  .caixa{
    text-align: center;
    padding: 40px 0;
    border-radius: .3vw;
    font-size: 15px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
  }
  .caixa p{
    margin: 0;
  }
  
  /* FORMULÁRIO */
  
  .form{
    display: flex;
    margin: 50px auto;
  }
  .input-form{
    width: 75%;
    margin-left: 3%;
    display: block;
  }
  input, textarea{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
  }
  .input-titulo{
    padding: 8px 5px;
    width: 100%;
    box-sizing: border-box;
  }
    input[inputmode=numeric]{
      padding: 8px 5px;
      width: 30%;
    }
    textarea {
      resize: none;
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
    }
    .span-descricao{
      display: block;
      text-align: right;
      font: bold 12px 'Open Sans', sans-serif;
      color: #707070;
    }
    
    fieldset{
      border: none;
    }
    legend{
      font: bold 13px 'Open Sans', sans-serif;
      color: #707070;
      margin: 10px 0;
    }
    
    .linha{
      width: 100%;
      height: 0;
      margin: 25px 0;
      border-top: 1px solid #E8E8E8;
    }
    
  .categorias{
    display: flex;
    justify-content: space-between;
  }
    .categoria{
      width: 30%;
    }  
    
    select {
      width: 100%;
      padding: 5px;
      margin: 2px;
      font: 10px 'Open Sans', sans-serif;
    }
  
  .btnCadastrar{
    font: bold 12px 'Open Sans';
    padding: 12px;
    color: #FFFFFF;
    background: #FF5500;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 80px;
    display: block; 
    float: right;
  }

/* ASIDE*/

.imagens{
  width: 22%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.descricao-imagens{
  width: 100%;
  font-size: 12px;
}
  .buttonDelete{
    height: 100%;
    width: 100%;
    background: transparent;
    font-size: 0;
    border: 0;
  }
    .buttonDelete:hover{
      transition: ease-in .5s;
      background: url(./imagens/btnDelete.png) no-repeat 50% 50%,rgba(15, 15, 15, 0.7);
      background-size: 40%;
      height: 100%;
      width: 100%;
      font-size: 0;
      cursor: pointer;
    }
    
  .buttonAddPhoto{
    background: url("./imagens/addPhoto.svg") 50% 50% no-repeat, #E8E8E8;
    background-size: 40%;
    cursor: pointer;
    height: 95px;
    width: 50%;
    min-width: 95px;
  }
    
@media screen and (max-width:999px) {
  section{
    width: 90vw;
  }
  .buttonAddPhoto{
    background-size: 40%;
    height: 120px;
    width: 48%;
  }
}
@media screen and (max-width:700px) {
  .categorias{
    display: block;
  }
    .categoria{
      width: 100%;
      margin-left: 0 ;
      padding:0;
    } 
  div .previewPhoto{
    
    width: 100%;
    height: 15vh;
  }
  .caixaimagens{
    flex-direction: column;
  }
}