nav{
  padding: 1.5em 4em;
  margin-bottom: 50px;

  border-bottom: 1px solid lightgrey;
    box-shadow: 2px 2px 2px lightgrey;
  }
  .logo{
    width: 140px;
  }
  section{
    width: 950px;
    margin: 0 auto;
  }
  .tituloPrincipal{
    text-align: center;
    margin: 50px 0 30px;
    font-size: 30px;  
  }
  .caixa{
    text-align: center;
    padding: 40px 0;
    border-radius: .3vw;
    font-size: 15px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
  }
  .caixa p{
    margin: 0;
  }
  .input-titulo{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  .form{
    display: flex;
      margin: 50px auto;
    }
    .input-form{
      width: 60%;
      display: block;
    }
    input{
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #E8E8E8;
      border-radius: 4px;
    }
    input[type=text]{
      padding: 8px 5px;
    }
    input[inputmode=numeric]{
      padding: 8px 5px;
      width: 30%;
    }
    textarea {
      resize: none;
      width: 100%;
      padding: 2px;
      box-sizing: border-box;
      border: 1px solid #E8E8E8;
      border-radius: 4px;
    }
    
    input[type=submit]{
      font: bold 12px 'Open Sans';
      padding: 12px;
      color: #FFFFFF;
      background: #FF5500;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #FFFFFF;
      border-radius: 24px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 80px;
      display: block; 
      float: right;
    }
    .span-descricao{
      display: block;
      text-align: right;
      font: bold 12px 'Open Sans';
      color: #707070;
    }
    
    fieldset{
      border: none;
    }
    legend{
      font-family: 'Open Sans', sans-serif;
      color: #707070;
      font-size: 13px;
      font-weight: bold;
      margin: 10px 0;
    }
    
    .linha{
      width: 100%;
      height: 0;
      margin: 25px 0;
      border-top: 1px solid #E8E8E8;
    }
    
    select {
      width: 90%;
      padding: 5px;
      margin: 2px;
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
    }
    
    .categorias{
      display: flex;
    }
    .categoria{
      display: inline-block;
      width: 33%;
      margin-left: 0 ;
      padding:0;
    }  
    .imagens{
      width: 37%;
      display: inline-block;
      margin-top: 5px;
      margin-right: 3%;
      
    }
    
    .buttonAddPhoto{
      background: url("./imagens/addPhoto.svg") 50% 50% no-repeat, #FF5500;
      box-shadow: 0px 4px 4px #00000029;
      border: 1px solid rgb(187, 73, 20);
      cursor: pointer;
      font-size: 0px;
      border-radius: 10px;
      margin: 10px auto;
      
    }
    .buttonAddPhoto::-webkit-file-upload-button{
      visibility: hidden;
    }
    
    @media screen and (max-width:999px) {
      section{
        width: 85vw;
      }
    }